extends layout

block main-content
  - let pName = park.querySelector("LocationName").textContent;
  - let pAddr = park.querySelector("Address").textContent;
  - let pCode = park.querySelector("PostalCode").textContent;
  - let pFacility = park.querySelector("FacilityDisplayName").textContent;  
  h1 #{pName}
  p Address: #{pAddr}
  p Postal Code: #{pCode}
  p Facility: #{pFacility}

  ul 
    each f in pFacilities 
      li #{f.textContent}